body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: lightseagreen;
    color: black;
}

.card{
    width: 60px;
    height: 90px;
}

#dealer-area {
    
}

#dealer-hand-value {
    font-size: 30px;
}

#dealer-hand {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#bet-boxes-area {
    display: flex;
    flex-wrap: wrap;
    padding-top: 200px;
    padding-bottom: 30px;
    justify-content: center;
    gap: 50px;
}

.bet-box {
    background-color: #2e8b57;
    border-radius: 50px;
    width: 80px;
    height: 80px;

    position: relative;
    display: flex;
    justify-content: center;
}

.bet-box .card{
    position: absolute;
}

.bet-box .hand-value{
    padding-top: 10px;
    font-size: 20px;
}


button {
    padding: 10px 15px;
    margin: 5px;
    font-size: 16px;
    background-color: #fff;
    border: 2px solid black;
    cursor: pointer;
}

button:disabled {
    background-color: gray;
    cursor: not-allowed;
}